*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
article{
    padding: 20px;
    font-family: 'Georgia', serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
}
aside{
    background: #f4f4f4;
    padding: 10px;
    margin: 20px 0;
    border-left: 5px solid #ccc;
    font-family: 'Georgia', serif;

}
article h1, article h2, article h3{
    margin-bottom: 15px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
aside ul{
    list-style:  none;
}
aside ul li a{
    text-decoration: none;
    color: #007bff;
}
footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: Arial, sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer a{
    color: #007bff;
    display: block;
    text-decoration: none;
}